<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form handling</title>
</head>
<body>
    <h2> Form Handling in Express</h2>
    <form action="/form-submit" method="POST">
        Name:<input type="txt" name="name" placeholder="Enter Your Name"><br><br>
        Email:<input type="email" name="email" placeholder="Enter Your Email"><br><br>
        Address:<input type="txt" name="address" placeholder="Enter Your address"><br><br>
        Submit:<input type="submit" value="submit">
</body>
</html>